<span id="message"></span>
<span id="name_error"></span>
<span id="email_error"></span>
<span id="website_error"></span>
<span id="comment_error"></span>
<span id="gender_error"></span>
<form id="sample_form" action="" method="POST">
<table class="centpercent notopnoleftnoright table-fiche-title">
<tbody>
<tr class="titre">
<td class="nobordernopadding widthpictotitle valignmiddle col-picto">
<span class="fas fa-cube valignmiddle widthpictotitle pictotitle" style=" color: #a69944;"></span>
</td>
<td class="nobordernopadding valignmiddle col-title">
</td>
</tr>
<tbody>
</table>
<div class="tabBar tabBarWithBottom">
<table class="border centpercent">
<tbody>
<tr>
<td class="fieldrequired">Client</td>
<td>
{{data[0]['client']}}
</td>
</tr>



<tr>
<td class="titlefieldcreate fieldrequired">Contrat</td>
<td>
I00{{data['contrat_id']}}
</td>
</tr>
    


<script>
document.getElementById("date").valueAsDate = new Date();
</script>


<tr>
<td class="titlefieldcreate">Date</td>
<td>
<input type="date" id="date" name="date" class="maxwidth200 form_data" maxlength="128" value="{{data['date_i']}}" >
</td>
</tr>






<tr>
<td class="titlefieldcreate">Remarque</td>
<td>
<textarea rows="2" cols="25" id="rmq" name="rmq" value="Remarque">
{{data['remarque']}}
</textarea>

</td>
</tr>



<tr>
<td class="titlefieldcreate fieldrequired">Cout Total</td>
<td>
<input id="cout" name="cout" class="maxwidth200 form_data" maxlength="128" value="{{data['cout']}}" required>
</td>
</tr>



<tbody>
</table>
</div>
    <div class="center">
        <input type="submit" id="submit" name="update" class="button button-save" value="Enregistrer">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="submit" name="delete" id="submit" class="button button-save" value="Supprimer">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="submit" class="button button-cancel" name="cancel" value="Annuler">
    </div>
</form>


<button id="main" class="button button-save" value="/custom/location/views/addmachine_int.php?idi={{data['rowid']}}&idc={{data['contrat_id']}}">Ajouter Machine</button>

<table class="noborder centpercent">
<tr class="liste_titre">
<th>Seriel Machine</th>
<th>Type d'intervention</th>
<th>cout</th>     
<th>Remarque</th>  
</tr>
{% for row in list %}
     <tr class="oddeven">				
                <td class="nowrap">{{row["seriel"]}}</td>				
				<td class="nowrap">{{row['type_inter']}}</td>
                <td class="nowrap">{{row['cout']}}</td>
                <td class="nowrap">{{row['remarque']}}</td>
                </tr>
{% endfor %}
</table><br>